src/main/mule/book-my-holiday-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="book-my-holiday-papi-config" api="resource::697af2f9-4e10-406c-a7b1-d8ecfd14aca2:book-my-holiday-papi:1.0.0:raml:zip:book-my-holiday-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="book-my-holiday-papi-main">
        <http:listener path="/api/*" config-ref="book-my-holiday-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="book-my-holiday-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="book-my-holiday-papi-console">
        <http:listener path="/console/*" config-ref="book-my-holiday-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="book-my-holiday-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\car\bookings\(bookingId):application\json:book-my-holiday-papi-config">
        <flow-ref doc:name="updateCarBookingDetailsByBookingIdFlow" doc:id="c615f986-b232-4b74-8a44-721f24477f31" name="updateCarBookingDetailsByBookingIdFlow"/>
    </flow>
    <flow name="put:\flight\bookings\(bookingId):application\json:book-my-holiday-papi-config">
		<flow-ref doc:name="updateFlightBookingByIdFlow" doc:id="d4f90ebf-ab04-4ae2-baba-526d70800f2f" name="updateFlightBookingByIdFlow"/>
    </flow>
    <flow name="put:\hotel\bookings\(bookingId):application\json:book-my-holiday-papi-config">
		<flow-ref doc:name="putHotelBookingFlow" doc:id="c890e087-15fc-481f-b279-35aa5bc74fa4" name="putHotelBookingFlow"/>
    </flow>
    <flow name="delete:\car\bookings\(bookingId):book-my-holiday-papi-config">
		<flow-ref doc:name="cancelCarBookingByIdFlow" doc:id="eb776888-de2e-4f92-a4bf-b4ea57ebeb9c" name="cancelCarBookingByIdFlow"/>
    </flow>
    <flow name="delete:\flight\bookings\(bookingId):book-my-holiday-papi-config">
		<flow-ref doc:name="cancelFlightBookingById" doc:id="8d170289-224f-458e-9568-7d1f7609db44" name="cancelFlightBookingByIdFlow"/>
    </flow>
    <flow name="delete:\hotel\bookings\(bookingId):book-my-holiday-papi-config">
		<flow-ref doc:name="cancelHotelBookingByIdFlow" doc:id="50d4bde1-ee1d-4c81-bf14-4664ab860766" name="cancelHotelBookingByIdFlow"/>
    </flow>
    <flow name="get:\cars:book-my-holiday-papi-config">
		<flow-ref doc:name="getCarsFlow" doc:id="64f9c7df-1d75-446c-8896-702df93dbdb0" name="getCarsFlow"/>
    </flow>
    <flow name="get:\flights:book-my-holiday-papi-config">
		<flow-ref doc:name="getFlightsFlow" doc:id="b04f3f66-c3f8-4045-b0bf-daba96d927b6" name="getFlightsFlow"/>
    </flow>
    <flow name="get:\hotels:book-my-holiday-papi-config">
		<flow-ref doc:name="getHotelsFlow" doc:id="2c23c209-439e-443e-9974-2ca9fa862ae4" name="getHotelsFlow"/>
    </flow>
    <flow name="get:\hotel\bookings\(bookingId):book-my-holiday-papi-config">
		<flow-ref doc:name="getHotelBookingByIdFlow" doc:id="1b3f47aa-09c6-4fe3-8e53-6777eb0eb14d" name="getHotelBookingByIdFlow"/>
    </flow>
    <flow name="get:\flight\bookings\(bookingId):book-my-holiday-papi-config">
		<flow-ref doc:name="getFlightBookingByIdFlow" doc:id="75a4f22c-e1d4-4ac0-886d-3921f3b0962d" name="getFlightBookingByIdFlow"/>
    </flow>
    <flow name="get:\car\bookings\(bookingId):book-my-holiday-papi-config">
		<flow-ref doc:name="getCarBookingDeatilsByIdFlow" doc:id="a8adfd5e-f59e-40c2-91a7-c160a1874442" name="getCarBookingDetailsByIdFlow"/>
    </flow>
    <flow name="post:\car\bookings:application\json:book-my-holiday-papi-config">
		<flow-ref doc:name="postCarBookingFlow" doc:id="51347663-e386-4341-8638-ae1d36a53b2d" name="postCarBookingFlow"/>
    </flow>
    <flow name="post:\flight\bookings:application\json:book-my-holiday-papi-config">
		<flow-ref doc:name="postFlightBookingFlow" doc:id="f89ddd1a-59ea-4f47-9502-d028b12f8bdd" name="postFlightBookingFlow"/>
    </flow>
    <flow name="post:\hotel\bookings:application\json:book-my-holiday-papi-config">
		<flow-ref doc:name="postHotelBookingFlow" doc:id="6f59994d-3e85-4f25-906d-83b6464c5ebd" name="postHotelBookingFlow"/>
    </flow>
</mule>
